:root {
  --primary-bg: hsl(218, 28%, 13%);
  --text-color: hsl(0, 0%, 100%);
  --footer-bg: hsl(216, 53%, 9%);
  --secondary-bg: hsl(217, 28%, 15%);
  --error: hsl(0, 100%, 63%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --body-font: "Open Sans", sans-serif;
  --primary-font: "Raleway", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-size: 14px;
  height: 100%;
  width: 100%;
}

.hero {
  background-color: var(--secondary-bg);
}

footer {
  background-color: var(--footer-bg);
}
