@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --primary-accent: hsl(0, 36%, 70%);
  --primary: hsl(0, 93%, 68%);
  --neutral: hsl(0, 6%, 24%);
  --body-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --button-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  --error: hsl(0, 75%, 60%);
  --button-hover-gradient: linear-gradient(135deg, #f8dedd, #f2abac);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  color: var(--primary-accent);
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 1.75;
}

body {
  background: var(--body-gradient);
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
  overflow-y: auto;
}

h2 {
  font-size: clamp(1rem, 5vw, 5rem);
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1.2;
  letter-spacing: 10px;
}

/* Selects the second li element in a list */
h2:nth-of-type(1) {
  font-weight: 300;
}

/* Selects the second li element in a list */
h2:nth-of-type(2) {
  color: var(--neutral);
  font-weight: bold;
}

#error {
  padding: 10px 20px;
  color: var(--error);
  display: none;
}

#error-icon {
  display: none;
  height: 0;
}

#error-icon {
    position: absolute;
    width: 24px;
    right: 20%;
    margin-right: 10px;
    margin-top: auto;
    aspect-ratio: 1;
  }

@media only screen and (min-width: 0em) {
  body {
    height: 100vh;
  }
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  img {
    width: 100%;
  }

  .logo-div {
    display: flex;
    align-items: flex-start;
  }

  #logo {
    width: 45vw;
    padding: 30px;
    min-width: 175px;
  }

  #cover-img {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }

  #content {
    display: flex;
    flex-direction: column;
    padding: 4% 3%;
    gap: 20px;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    border-radius: 50px;
  }

  form input {
    width: 100%;
    border-radius: 50px;
    padding: 10px 20px;
    border-radius: inherit;
    width: 100%;
    border: 1px solid var(--primary-accent);
    background-color: inherit;
  }

  input:focus {
    background-color: inherit;
  }

  .error-input {
    border: 1px solid var(--error);
  }

  form button {
    display: flex;
    height: 100%;
    border-radius: 30px;
    width: 75px;
    padding: 15px 30px;
    position: absolute;
    right: 0;
    border: none;
    background: var(--button-gradient);
    box-shadow: 5px 10px 70px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 10px 70px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 10px 70px -21px rgba(0, 0, 0, 0.75);
    transition: 1s;
  }

  form button img {
    height: 100%;
    width: 100%;
  }

  input[type="email"] {
    color: var(--neutral);
    outline: none;
  }

  button:hover {
    cursor: pointer;
    background: var(--button-hover-gradient);
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--primary-accent);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary-accent);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--primary-accent);
  }

  footer {
    text-align: center;
    padding: 0px 30px;
  }
}

@media only screen and (min-width: 768px) {
  * {
    font-size: clamp(1rem, 1.2vw, 3rem);
  }

  h2 {
    font-size: clamp(2rem, 5vw, 4rem);
  }

  #logo {
    width: 20%;
  }

#error-icon {
  height: auto;
}

  main {
    height: 100vh;
    width: 100vw;
    padding: 3% 10%;
    background-image: url('./images/bg-pattern-desktop.svg');
    object-fit: cover;
  }

  footer {
    position: absolute;
    left: 10%;
    width: 40%;
    bottom: 10%;
  }

  #cover-img {
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
    display: flex;
    justify-content: center;
    max-height: none;
  }

  #cover-img img {
    object-fit: cover;
  }

  #content {
    width: 45%;
    text-align: left;
    overflow-wrap: normal;
    gap: 5%;
    flex: 1;
  }
}
